<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesCrud.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        .hidden {
            display: none;
        }
        .visible {
            display: block;
        }
        #result-table, #consulta-vehiculo {
            width: 100%;
            border-collapse: collapse;
        }
        #result-table th, #result-table td,
        #consulta-vehiculo th, #consulta-vehiculo td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        #result-table th, #consulta-vehiculo th {
            background-color: #f2f2f2;
        }



        #tabla_modelo, #consulta-vehiculo, #tabla_stock {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        #tabla_modelo th, #tabla_modelo td,
        #consulta-vehiculo th, #consulta-vehiculo td,
        #tabla_stock th, #tabla_stock td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        #tabla_modelo th, #consulta-vehiculo th, #tabla_stock th {
            background-color: #f2f2f2;
        }

        

        /* INPUTS */ 
        .input {
        border-radius: 10px;
        outline: 2px solid #FEBF00;
        border: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #e9e9e9;
        outline-offset: 3px;
        padding: 10px 1rem;
        transition: 0.25s;
        width: 600px;
        }

        .input:focus {
        outline-offset: 5px;
        background-color: #fff
        }
        
        

    </style>
</head>
<body>

    <header>
        <h1>FRENOS DOVER</h1>
        <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
        <nav class="nav" id="nav">
            <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
            <ul class="nav-list">
                <li><a href="#" id="consulta-pastilla">Consulta de pastilla</a></li>
                <li><a href="#" id="consulta-vehiculo">Consulta Por Vehiculo</a></li>
                <li><a href="#" id="consulta-stock">Consulta Inventario</a></li>
                <li><a href="#" id="gestion-inventario">Gestión del inventario</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>


    <div id="consulta-container" class="hidden">
        <br/>
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>CONSULTA POR CODIGO DE PASTILLA - <b>FRENOS DOVER</b></h2>
					</div>
					
                </div>
            </div>
        <label for="codigo-pastilla">Ingrese el código de la pastilla:</label>
        <input type="text" id="codigo-pastilla" name="codigo-pastilla">
        <button id="buscar">Buscar</button>
        <table id="result-table" class="hidden table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID Pastilla</th>
                    <th>Lado</th>
                    <th>Dimensión</th>
                </tr>
            </thead>
            <tbody id="result-body">
                <!-- Resultados se llenarán aquí -->
            </tbody>
        </table>
    </div>


    

    <div id="vehiculo-container" class="hidden" >
        
        <br/>
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>CONSULTA POR VEHICULO - <b>FRENOS DOVER</b></h2>
					</div>
					
                </div>
            </div>

        <div class="form-container">
            <label for="codigo-serie-modelo">Modelo:</label>
            <input type="text" id="codigo-modelo" name="codigo-modelo">
            
            <label for="codigo-serie-marca">Modelo Pastilla:</label>
            <input type="text" id="codigo-pastillita" name="codigo-pastillita">
        </div>
        <table id="tabla_modelo"  class="hidden table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID Detalle</th>
                    <th>ID Pastilla</th>
                    <th>Marca</th>
                    <th>Detalle Serie Modelo</th>
                </tr>
            </thead>
            <tbody id="vehiculo-body">
                <!-- rellenaremos aqui con la data retornada -->
            </tbody>
        </table>
    </div>






    <div id="stock_container" class="hidden">
            <br>
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>I N V E N T A R I O - <b>FRENOS DOVER</b></h2>
					</div>
					
                </div>
            </div>

        <button id="exportar-stock" class="custom-btn btn-11">Exportar Stock a Excel</button>
        <br/>   
        <br/>   
        <br/>   
        <div class="input-container">
            <label for="stok-label">Ingrese el modelo:</label>
            <input type="text" id="stock-input" name="stock-input" placeholder="Write here..." class="input">
        </div>
        
        
        <button id="boton_buscar-stock" class="hidden">Buscar</button>

        <br/>
        <br/>
        <br/>
        <table id="tabla_stock"  class="hidden table table-striped table-hover">
            <thead>
                <tr>
                    <th>Codigo Pastilla</th>
                    <th>Cantidad</th>
                    <th>Costo</th>
                    <th>Venta</th>
                    <th>Codigo General</th>
                </tr>
            </thead>
            <tbody id="stock-body">
                <!-- rellenaremos aqui con la data retornada -->
            </tbody>
        </table>
    </div>

















    <!-------------------------------------------------------------------------------------------------------->

 <!----------------------⇊⇊⇊⇊⇊⇊⇊⇊⇊C R U D ↑ ⇊⇊⇊⇊⇊⇊⇊----------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------->

    <div id="crud_container" class="hidden">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Gestión de inventario <b>FRENOS DOVER</b></h2> 
                        <br/>
                        <input type="text" id="crud-input" name="crud-input" placeholder="Ingrese su busqueda..." class="input">
					</div>
					<div class="col-sm-6">
						<a href="#addPastillaModal" class="btn btn-success" data-toggle="modal" id="botonAgregarNuevaPastilla"><i class="material-icons">&#xE147;</i> <span>Agregar Nueva Pastilla
                        </span></a>
						<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Borrar</span></a>						
					</div>
                </div>
            </div>


            <!-- -------------------------------------------------------------------------------- -->
            <!-- -------------------------------------------------------------------------------- -->


            <table id="tabla-crud" class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
                        <th>Codigo Pastilla</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                        <th>Venta</th>
                        <th>Codigo Global</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="crud-body">
                    
                    
                </tbody>
            </table>


            <!-- -------------------------------------------------------------------------------- -->
            <!-- -------------------------------------------------------------------------------- -->


			<div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>

                    <!-- Incluye los estilos de Bootstrap y Bootstrap Icons -->


                </ul>
            </div>
        </div>
    </div>
	<!-- Edit Modal HTML -->
	<div id="addPastillaModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">AGREGAR PRODUCTO NUEVO</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
                        <!-- RELLENAREMOS LA TABLA MFPASTILLA EN LA BASE DE DATOS-->
                        <div class="form-group hidden" id="customBackgroundDiv">
                            <label for="codigoGlobalPastilla">Codigo Global</label>
                            <input type="text" class="form-control" id="codigoGlobalPastilla" name="codigoGlobalPastilla" placeholder="MF150" required maxlength="10">
                            
                            <label for="ladoPastilla">Lado Pastilla</label>
                            <select class="form-control" id="ladoPastilla" name="ladoPastilla" required>
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option value="FRONT/FRONTAL">FRONT/FRONTAL</option>
                                <option value="REAR/TRASERA">REAR/TRASERA</option>
                            </select>
                            
                            <label for="dimesinoPastilla">Dimensión Pastilla</label>
                            <input type="text" class="form-control" id="dimesinoPastilla" name="dimesinoPastilla" placeholder="98 X 68 X 16 mm" required maxlength="35">
                            <br/>
                            <br/>
                            <input id="AgregarCodigoGlobal" type="submit" class="btn btn-success" value="Agregar codigo Global">

                        </div>
                        
                        <!-- RELLENAREMOS LA TABLA STOCK EN LA BD-->
                        <div class="form-group" id="divAgregarStock">
                            <label for="codigoPastillaStock">Código Pastilla</label>
                            <input type="text" class="form-control" id="codigoPastillaStock" name="codigoPastillaStock" placeholder="MF150HP" required required maxlength="10">
                        
                            <label for="castindadPastillaStock">Cantidad</label>
                            <input type="number" class="form-control" id="castindadPastillaStock" name="castindadPastillaStock" required min="0">
                        
                            <label for="costoPastilla">Costo</label>
                            <input type="text" class="form-control" id="costoPastilla" name="costoPastilla" required>
                        
                            <label for="ventaPastilla">Venta</label>
                            <input type="text" class="form-control" id="ventaPastilla" name="ventaPastilla" required>
                            
                            <label for="Id_pastilla">Código Pastilla Global</label>
                            <select id="Id_pastilla" class="form-control" name="Id_pastilla" required>
                                <option value="" disabled selected>Seleccione el código</option>
                                <!-- Las opciones se cargarán dinámicamente -->
                            </select>

                        </div>
                    </div>
                    
					<div class="modal-footer" id="pieAgregar">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" id="btnAddStock" class="btn btn-success" value="Agregar A Stock">

                        <br/>
                        <br/>

                        <label class="label-custom">Si no existe el codigo MF Global, presione el boton de abajo. </label>
                        
                        <button id="botonAgregarMFPastillaSiNoExiste" class="btn-17">
                            <span class="text-container">
                              <span class="text">Agregar Global</span>
                            </span>
                          </button>

					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	<!-- Modal Editar Producto -->
<div id="editProductoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">EDITAR PRODUCTO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Codigo Pastilla</label>
                        <label id="codigoPastillaLabel" name="codigoPastillaLabel" class="form-control"></label>
                    </div>
                    <div class="form-group">
                        <label>Cantidad</label>
                        <input type="number" class="form-control" name="cantidad" min="0" step="1" required >
                    </div>
                    <div class="form-group">
                        <label>Costo</label>
                        <input type="text" class="form-control" name="costo" required>
                    </div>
                    <div class="form-group">
                        <label>Venta</label>
                        <input type="text" class="form-control" name="venta" required>
                    </div>	
                    <div class="form-group">
                        <label>Codigo Global</label>
                        <label id="codigoPastillaLabelGlobal" name="codigoPastillaLabelGlobal" class="form-control"></label>
                    </div>				
                </div>
                
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>



	<!-- Delete Modal HTML -->
	<!-- Delete Modal HTML -->
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">				
                <h4 class="modal-title">Eliminar Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">				
                <p>¿Estás seguro que deseas eliminar el producto con el código <span id="deleteCodigoPastilla"></span>?</p>
                <p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="deleteProductoId"> <!-- Este campo oculta almacenará el ID de la pastilla -->
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Eliminar</button>
            </div>
        </div>
    </div>
</div>
    <!---------------------------------C R U D ↑ ↑↑↑↑↑↑↑----------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------->




    
    
    
 
      

    

    <script src="js/main.js"></script>
</body>
</html>
